@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Salsa&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Roboto", sans-serif; */
  /* font-family: "EB Garamond", serif; */
  font-family: "Salsa", cursive;
}
body {
  margin: 0;
  padding: 0;
}

header {
  min-height: 4rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.links {
  list-style: none;
  z-index: 1;
}
.links a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}
header button {
  padding: 0.5rem 1rem;
  background-color: black;
  color: rgba(255, 255, 255, 0.774);
  cursor: pointer;
}
header button:hover {
  color: white;
}
#burger {
  width: 2rem;
  cursor: pointer;
}

.hero {
  position: relative;
  padding: 4rem 1rem 1rem 2rem;
}
.imkhush {
  line-height: 5rem;
}
.imkhush h2 span {
  color: #cec60d;
}
.hero img {
  position: absolute;
  top: 1rem;
  right: 0;
  width: 250px;
  z-index: -1;
}
.page2 .aboutme {
  padding: 2rem;
  background-color: #393939;
}
.aboutme h2 {
  color: #cec60d;
  letter-spacing: 1rem;
}
.aboutme p {
  font-size: 1.2rem;
  padding: 1rem 0;
  color: whitesmoke;
  line-height: 2rem;
}
.skills {
  padding: 1rem;
}
.skills div {
  display: grid;
  grid-template-columns: 0.95fr 0.05fr;
  justify-content: space-between;
  align-items: center;
}
.skills div p {
  font-size: 1.3rem;
  padding: 0.5rem;
  color: whitesmoke;
}
.skills div i {
  float: right;
}
.html p {
  background-color: #2e8ade;
}
.css {
  margin-top: 1rem;
}
.css p {
  background-color: rgb(238, 0, 127);
}
.bootstrap p {
  background-color: rgba(243, 7, 133, 0.808);
}
.javascript {
  margin-top: 1rem;
}
.javascript p {
  background-color: #15beb4;
}
.react p {
  background-color: #32e7e7;
}
.git {
  margin-top: 1rem;
}
.git p {
  background-color: #3ca40c;
}
.projects h2 {
  padding: 1rem 2rem;
  background-color: #393939;
  color: #cec60d;
  letter-spacing: 0.5rem;
  text-align: center;
}
.cards {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2rem;
}
.cardnumber .one {
  height: 300px;
  border: 2px solid black;
  background-image: url(Images/Flexbox/car1.png);
  background-size: cover;
}
.cardnumber .two {
  height: 300px;
  border: 2px solid black;
  background-image: url(Images/BootStrap/man1.png);
  background-size: cover;
}
.cardnumber .three {
  height: 300px;
  border: 2px solid black;
  background-image: url(Images/JS/Screenshot\ 2021-10-07\ 151033.png);
  background-size: cover;
}
.cardnumber .four {
  height: 300px;
  border: 2px solid black;
  background-image: url(Images/React/Screenshot\ 2021-10-07\ 151150.png);
  background-size: cover;
}
.linked {
  margin-top: 0.3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}
.linked button {
  padding: 0.5rem 2rem;
  background-color: black;
  color: rgba(255, 255, 255, 0.774);
  cursor: pointer;
}
.linked button:hover {
  color: white;
}
@media all and (max-width: 600px) {
  .wrapper {
    position: relative;
    overflow: hidden;
  }
  .links {
    position: absolute;
    left: 0;
    top: 4rem;
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s;
  }
  .links li {
    width: 100%;
  }
  .links a {
    display: block;
    color: rgba(255, 255, 255, 0.774);
    padding: 1rem 0;
    text-align: center;
  }
  .links a:hover {
    color: white;
  }
  .links-active {
    transform: translateX(0%);
    transition: transform 1s;
  }
}
@media all and (min-width: 600px) {
  header {
    max-width: 1200px;
    margin: auto;
  }
  .links {
    display: flex;
    grid-gap: 1rem;
  }
  #burger {
    display: none;
  }
  .hero {
    max-width: 1200px;
    margin: auto;
  }
  .imkhush {
    line-height: 7rem;
  }
  .imkhush h4 {
    font-size: 2rem;
  }
  .imkhush h2 {
    font-size: 3rem;
  }
  .hero img {
    position: absolute;
    top: 1rem;
    right: 0;
    width: 400px;
    z-index: -1;
  }
  .page2 {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .skills {
    border: 1px solid rgba(128, 128, 128, 0.445);
  }
  .projects {
    padding-top: 1rem;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 0.5fr 9.5fr;
  }
  .projects h2 {
    text-align: center;
    line-height: 4rem;
  }
  .cards {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 2rem;
  }
  .cardnumber .one {
    height: 400px;
    opacity: 90%;
  }
  .cardnumber .two {
    height: 400px;
    opacity: 90%;
  }
  .cardnumber .three {
    height: 400px;
    opacity: 90%;
  }
  .cardnumber .four {
    height: 400px;
    opacity: 90%;
  }
}
