html *{
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-color: beige;
    margin: 1rem;
}
header h1{
    font-family: lucidahandwriting, cursive;
    margin: 0;
}
header{
    border-style:solid;
    border-width: 0px 0px 0.5px 0px;
}
header ul{
    padding: 0;
}
header li{
    font-size: large;
    padding: .3rem;
    list-style-type: none;
}
header a{
    text-decoration: none;
    color: inherit;
}
 /* flowercity */
 .FlowerCity h1{
    font-family: lucidahandwriting, cursive;
    font-size: 1.5rem;
 }
 .FlowerCity p{
     font-size: large;
 }
 .FlowerCity img{ 
    width: 100%;
    height:100%;
    object-fit: cover;
    outline: solid 2px black;
    outline-offset: -5px;
    padding: 10px;
}
 /* footer */
footer{
    background-color: #131A22;
}

footer p{
    font-size: 1rem;
    text-align: center;
    color: white;
    padding: 1rem;
    margin: 1rem 0 0 0;
}
 @media all and (min-width:600px){
    body{
         margin: 0;
     }
    header{
        width: 90%;
        height: 10vh;
        margin: auto;
    }
    header h1{
        float: left;
    }
    ul{
        float: right;
        margin: auto;
    }
    header li{
        float: left;
        padding: 1.2rem 0.5rem;
        list-style-type: none;
    }
    header li:hover{
        transition: 1s;
        background-color: rgb(223, 223, 205);
        border-radius: 5px;
    }
    .FlowerCity{
        width: 90%;
        margin: auto;
        clear: both;
    }
    .FlowerCity h1{
        margin: 0;
        padding: 1rem 0;
    }
    .FlowerCity p{
        float: left;
        width: 50%;
        margin: 0;
        padding-bottom: 1rem;
    }    
    .FlowerCity img{
        float: right;
        width:45%;
        height: auto;
        object-fit: cover;
    }
    footer{
        clear: both;
    }
 }
/* animated popup */
/* .overlayIsOpen .overlay{
        position: fixed;
        top:0;
        bottom: 0;
        left:0;
        right:0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        font-weight: bolder;
    }
    .overlayInner{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .overlay button{
        background-color: white;
        border:solid 0.5px;
        border-radius:5px;
        font-size:1.2rem;
        padding:10px 60px;
        color: #5817d1;
    }
    .overlay button:hover{
        box-shadow: 0 0 0 2px #5817d1;
        transition: all 200ms;
    } 
    .overlayIsOpen .wrapper{
        position: absolute;
        z-index: -1;
        filter:blur(30px);
    }  */
